<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - Agregar Juguetes</title>
</head>
<body>
    <h1>Agregar Nuevo Juguete</h1>

    <form method="POST">
        {{forma.csrf_token}}
        <p>
            {{forma.nombrejuguete.label}}<br/>
            {{forma.nombrejuguete(size=30)}}
        </p>
        <p>
            {{forma.nombreproveedor.label}}<br/>
            {{forma.nombreproveedor(size=30)}}
        </p>
        <p>
            {{forma.precioventa.label}}<br/>
            {{forma.precioventa(size=30)}}
        </p>
        <p>
            {{forma.cantprodvendidos.label}}<br/>
            {{forma.cantprodvendidos(size=30)}}
        </p>
        <p>
            {{forma.enviar()}}
        </p>
    </form>
</body>
</html>