<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Agregar venta</h1>

    <form method="POST">
        {{forma.csrf_token}}
        <p>
            {{forma.nombre_producto.label}}<br/>
            {{forma.nombre_producto(size=30)}}
        </p>
        <p>
            {{forma.valor.label}}<br/>
            {{forma.valor(size=30)}}
        </p>
        <p>
            {{forma.categoria.label}}<br/>
            {{forma.categoria(size=30)}}
        </p>
        <p>
            {{forma.fecha.label}}<br/>
            {{forma.fecha(size=30)}}
        </p>
        <p>
            {{forma.cantidad.label}}<br/>
            {{forma.cantidad(size=30)}}
        </p>
        <p>
            {{forma.enviar()}}
        </p>
    </form>
</body>
</html>