{% extends "layout.html" %}
{% block body%}
<div>
    <h1>Lista de conductores</h1>
    <a href="nuevoConductor">Agregar</a>
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>Marca</td>
                <td>Modelo</td>
                <td>Año de fabricacion</td>
                <td>Numero de placa</td>
                <td>Color</td>
                <td>Precio</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for coche in coches %}
                <tr>
                    <td>{{ coche.id }}</td>  
                    <td>{{ coche.marca.nombre }}</td>
                    <td>{{ coche.modelo }}</td>
                    <td>{{ coche.year_fabricacion }}</td>
                    <td>{{ coche.numeroplaca }}</td>
                    <td>{{ coche.color }}</td>
                    <td>{{ coche.precio }}</td>
                    <td><a href="editarCoche/{{coche.id}}">Editar</a></td>
                    <td><a href="detalleCoche/{{coche.id}}">Detalle</a></td>
                    <td><a href="eliminarCoche/{{coche.id}}">Eliminar</a></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    <a href="/">Regresar a la página de inicio</a>
</div>
{%endblock%}