<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>LOGIN</h1>
    <p>Usuario o correo</p>
    <input type="text">
    <p>Password</p>
    <input type="password">
    <br>
    <input type="button" value="Ingresar" onclick="window.location.href = '/';"> 
    <br>
    <a href="/register">¿Aun no estas registrado?</a>
    <br>
    <button onclick="window.location.href = '/';">Regresar</button>

</body>
</html>