<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/estilo2.css') }}">
</head>
<body>
    <div class="formulario">
        <br>
        <center><img src="{{ url_for('main.static', filename='images/LogoPagina.jpg') }}" alt="Logo" width="150" height="110"></center>
        <h1>Inicio de Sesión</h1>
        <form id="login_form">
            <div class="username">
                <label>Nombre de usuario o correo electrónico</label>
                <input type="text" id="principal" name="principal" required>
            </div>
            <div class="username">
                <label>Contraseña / Password</label>
                <input type="password" id="contra" name="contra" required>
            </div>
            <input type="submit" id="btn_login" value="Ingresar">
        </form>
        <br>
        <span id="errorLabel" style="display: none; color: red;"></span>
        <br>
        <div class="registrarse">
            ¿Aún no estás <a href="/register">registrado?</a>
        </div>
        <br>
        <div class="regresar">
            <center><button name="regresar" id="regresar" onclick="window.location.href = '/';">Regresar</button></center>
            <br>
        </div>
    </div>
    
    <script>
        const loginForm = document.querySelector('#login_form')
        const loginButton = document.querySelector('#btn_login')
        const errorLabel = document.getElementById('errorLabel');
        loginButton.addEventListener('click',(e)=>{
            errorLabel.style.display = 'none';
            e.preventDefault();
            const principal = document.querySelector('#principal').value;
            const contra = document.querySelector('#contra').value;
            
            fetch('/login',{
                method:'POST',
                headers:{
                   'Content-Type':'application/json'
                },
                body: JSON.stringify({
                    'principal': principal,
                    'contra': contra
                })
            }).then(response => response.json())
            .then(data =>{
                if(data.status == 'success'){
                    localStorage.setItem('cuenta_id',data.auth_token)
                    console.log(data)
                    window.location.href = '/';
                }else{
                    errorLabel.textContent = 'Error: ' + data.message;
                    errorLabel.style.display = 'inline';
                }
            })
        })

        document.addEventListener('DOMContentLoaded', function () {
            const inputs = document.querySelectorAll('.formulario input');

            inputs.forEach(input => {
                input.addEventListener('focus', function () {
                    this.previousElementSibling.style.top = '-5px';
                    this.previousElementSibling.style.color = '#6C3483';
                });

                input.addEventListener('blur', function () {
                    if (this.value === '') {
                        this.previousElementSibling.style.top = '50%';
                        this.previousElementSibling.style.color = '#adadad';
                    }
                });
            });
        });

    </script>
</body>
</html>