<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmorGlobalConnect: Encuentra tu pareja fuera de la burbuja</title>
    <link rel="stylesheet" href="../static/css/estilo1.css">
</head>
<body>
    <header>
        <h1>AmorGlobalConnect</h1>

        <div id="cont-log">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
        
        <img src="../static/images/LogoPagina.jpg" alt="Logo" width="100" height="70">
    </header>

    <nav>
        <!-- Recuadro con varias opciones -->
        <div class="options">
            <a href="#">Opción 1</a>
            <a href="#">Opción 2</a>
            <a href="#">Opción 3</a>
        </div>
    </nav>

    <!-- Zona de imágenes que cambian tipo cinta -->
    <div class="image-slider">
        <img src="https://media.istockphoto.com/id/514472018/es/foto/hermosa-boda-par-abrazar-cerca-de-columnas.jpg?s=612x612&w=0&k=20&c=uNaI5B3WpsnZVff6l6jvyhZMXd-DIkQl7ZCjO2W92K0=" 
        alt="Imagen 1"  >
        
        <img src="https://media.istockphoto.com/id/498477061/es/foto/siente-el-d%C3%ADa-de-su-boda-bliss.jpg?s=612x612&w=0&k=20&c=kYex3_JmNNEz6CdYfclcwKjxj2GGln-NU9QyXKdlb5Y=" 
        alt="Imagen 2"  >
        <img src="https://media.istockphoto.com/id/530188882/es/foto/retrato-de-una-joven-pareja-de-novios.jpg?s=612x612&w=0&k=20&c=SeUr9mYN6ZJ1phUPg05577uSMtO8-u4bSgcda-DfAus=" 
        alt="Imagen 3"  >
        <!-- Agrega más imágenes según sea necesario -->
    </div>

    <div id="info">
        Encuentra tu pareja fuera de la burbuja
    </div>

    <!-- Recuadro con imagen y texto -->
    <div class="info-box">
        <img src="https://media.istockphoto.com/id/483066716/es/foto/reci%C3%A9n-casados-feliz-pareja-abraz%C3%A1ndose-en-la-calle.jpg?s=612x612&w=0&k=20&c=yceLL1p-Ju9itkgB2DiPmqVoDIzvkGWM4VCSof_5kV4=" alt="Otra Imagen">
        <div class="text-column">
            <p>
                El amor es un sentimiento profundo y poderoso que conecta a las personas en formas misteriosas. 
            </p>
        </div>
        <div class="text-column">
            <p>
                El matrimonio, como un compromiso sagrado, es una celebración de ese amor, una unión de almas 
                dispuestas a compartir la alegría y la tristeza, los éxitos y los desafíos, a medida que avanzan juntas 
                por el hermoso viaje de la vida.
            </p>
        </div>
    </div>
    <div class="warning-box">
        <p><strong>¡Advertencia!</strong> Este es un mensaje importante.</p>
        <p>
            <em>"La plataforma AmorGlobalConnect se compromete a fomentar relaciones basadas en el amor y la compatibilidad genuina. Hacemos nuestro mayor esfuerzo para mantener la seguridad y la ética en nuestros servicios, 
                implementando medidas de seguridad para proteger la privacidad de nuestros usuarios. Sin embargo, los usuarios deben reconocer que AmorGlobalConnect no puede garantizar el 100% de la autenticidad de las intenciones de todos los usuarios.
            </em>
        </p>
        <p>
            <em>
                Al utilizar nuestros servicios, los usuarios aceptan el riesgo que conlleva conocer personas de otras culturas y regiones. Además, reconocen que a pesar de nuestros filtros, la honestidad de los usuarios y 
                sus declaraciones pueden tener motivos ajenos o externos durante la sesión de 'Juntarse' y después del proceso de casamiento. La página siempre respalda el matrimonio basado en el amor y la confianza, y 
                el uso de nuestros servicios con fines poco éticos, contrarios a la libertad y que buscan aprovecharse de otros, resultará en la eliminación y bloqueo del infractor.
            </em>
        </p>
        <p>
            <em>Recomendamos encarecidamente a nuestros usuarios que actúen con integridad y transparencia en todas las interacciones. Esperamos que disfruten de AmorGlobalConnect y les deseamos un feliz matrimonio."</em>
        </p>
    </div>
    <div class="info-box">
        <img src="https://media.istockphoto.com/id/483066716/es/foto/reci%C3%A9n-casados-feliz-pareja-abraz%C3%A1ndose-en-la-calle.jpg?s=612x612&w=0&k=20&c=yceLL1p-Ju9itkgB2DiPmqVoDIzvkGWM4VCSof_5kV4=" alt="Otra Imagen">
        <div class="text-column">
            <p>
                El amor es un sentimiento profundo y poderoso que conecta a las personas en formas misteriosas. 
            </p>
        </div>
        <div class="text-column">
            <p>
                El matrimonio, como un compromiso sagrado, es una celebración de ese amor, una unión de almas 
                dispuestas a compartir la alegría y la tristeza, los éxitos y los desafíos, a medida que avanzan juntas 
                por el hermoso viaje de la vida.
            </p>
        </div>
    </div>
</body>
</html>
