<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1>Registro</h1>
    <p>Primer Nombre*:</p>
    <input type="text">
    <p>Otros Nombres (Opcional): </p>
    <input type="text">
    <p>Primer Apellido *:</p>
    <input type="text">
    <p>Segundo Apellido (Opcional):</p>
    <input type="text">
    <p>Fecha de Nacimiento *:</p>
    <input type="text">
    <p>Correo electronico *:</p>
    <input type="text">
    <p>Telefono (Opcional):</p>
    <input type="text">
    <p>Password *:</p>
    <input type="text">
    <p>Confirma Password *:</p>
    <input type="text">
    <br>
    <p>* Son obligatorios, recuerda rellenarlos.</p>
    <br>
    <input type="checkbox" id="acepto" name="acepto">
    <label for="acepto">Acepto los <a href="terminos-y-condiciones.html">términos y condiciones</a></label>
    <br>
    <input type="button" value="Registrarse">
</body>
</html>