<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../static/fonts/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../static/css/estilo3.css">
</head>
<body>
    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="../static/Images/51qXxaMW6OL._AC_UF894,1000_QL80_.jpg">
            </div>
            <form action>
                <h1>REGISTRO</h1>
                <div class="form-group">
                    <input type="text" placeholder="Primer Nombre *" class="form-control" required>
                    <input type="text" placeholder="Otros Nombres (Opcional)" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Primer Apellido *" class="form-control" required>
                    <input type="text" placeholder="Segundo Apellido (Opcional)" class="form-control">
                </div>
                <div class="form-wrapper">
                    <p>Fecha de Nacimiento *:</p>
                    <input type="date" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Correo Electrónico *" class="form-control" required>
                    <input type="text" placeholder="Teléfono (Opcional)" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Contraseña *" class="form-control" required>
                    <input type="text" placeholder="Confirmar Contraseña *" class="form-control" required>
                </div>
                <p>* Son obligatorios, recuerda llenarlos.</p>
                <input type="checkbox" id="acepto" name="acepto">
                <label for="acepto">Acepto los <a href="terminos-y-condiciones.html">términos y condiciones</a></label>
                <button onclick="window.location.href = '/usuarios/registro';">Registrarse</button>
                <button onclick="window.location.href = '/';">Regresar</button>
            </form>
        </div>
    </div>
</body>
</html>