<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos y condiciones</title>
</head>
<body>
    <h1>Terminos y condiciones</h1>
    Al registrarte o usar esta aplicación 'AmorGlobalConnect', aceptas nuestras Condiciones de Uso. <br> Léelo cuidadosamente.
    <h2>Privacidad</h2> 
    <ul>
        <li>La información que compartas será visible a otros usuarios.</li>
        <li>Cuidaremos tu privacidad y no venderemos tus datos sin permiso.</li>
        <li>Podremos usarlos anónimamente para mejorar.</li>
    </ul>
    <h2>Contenido</h2>
    <ul>
        <li>Publica contenido respetuoso y legal.</li>
        <li>Asegúrate de cumplir con nuestras normas comunitarias.</li>
        <li>Evita compartir información sensible o privada.</li>
    </ul>

    <h2>Moderación </h2>
    <ul>
        <li>Revisaremos publicaciones para detectar actividad inadecuada. Si infringes nuestras normas, podremos bloquear tu cuenta.
            Encuentros</li>
        <li>No somos responsables de tus encuentros fuera de la App. Cuida siempre tu seguridad. No contactes menores ni prometas cosas ilícitas.
            </li>
        
    </ul>
    <h2>Propiedad Intelectual</h2>
    <ul>
        <li>Conservamos los derechos sobre la App y su diseño. Lo que compartas aquí podrá ser usado por nosotros.
            Suspensión y baja de cuenta</li>
        <li>Los documentos oficiales que usted nos proporciono y autorizo se borrara despues de los 6 meses. Se le enviara un correo antes del plazo para evitar la molestia de volver a subirlos.
            Cambios en los Términos</li>
        <li>Podremos modificar estos términos en cualquier momento. Te avisaremos por correo.</li>
    </ul>
 
</body>
</html>