*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: linear-gradient(150deg, #6C3483, #58D68D);
    height: 84vh;
}

.search-pareja
{
    width: 500px;
    height: 490px;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    margin: auto;
    margin-top: 120px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid purple;
}

.search-pareja h1 
{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    font-size: 28px;
}

.button
{
    border: none;
    width: 70%;
    height: 40px;
    margin: auto;
    display: flex;
    margin-top: 1px;
    align-items: center;
    justify-content: center;
    background: #333;
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
}

.img
{
    display: block;
    margin: auto;
    height: 210px;
    width: 60%;
}