/* Estilos básicos, puedes personalizar según tus necesidades */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#documentos-container {
    max-width: 600px;
    margin: auto;
}

.documento {
    margin-bottom: 15px;
}

.img {
    max-width: 50%;
    height: auto;
}
