<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>App Gestora</h1>
    <a href="indexBombero.html">Listado de bomberos</a><br>
    <a href="indexCamion.html">Listado de camiones</a><br>
    <a href="indexEquipo.html">Listado de equipo</a><br>
    <a href="indexEstacion.html">Listado de estaciones</a><br>
    <a href="indexPerro.html">Listado de perros</a><br>
    <!-- <a href="ListadoVentaCoche">Listado de Venta de coches !mantenimiento!</a><br> -->
</body>
</html>