<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body class="container">
    <h1 class="mt-5">Administrador</h1>

    <div class="mt-4">
        <h2>Lista de noticias</h2>
        <div class="noticia-container" id="noticia-container">
            <!-- Los elementos se cargarán aquí -->
        </div>
        <div class="noticia-form mt-3">
            <input type="text" id="est1" class="form-control mb-2" placeholder="Encabezado">
            <input type="text" id="est2" class="form-control mb-2" placeholder="Cuerpo">
            <input type="text" id="est3" class="form-control mb-2" placeholder="URL">
            <button class="btn btn-primary" onclick="agregarNoticia()">Agregar Noticia</button>
        </div>
    </div>

    <div class="mt-4">
        <h2>Lista de Moderadores</h2>
        <ul class="list-group" id="moderadores-list"></ul>
    </div>

    <div class="mt-4">
        <label for="txtBusqueda">Buscar Cuenta:</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="txtBusqueda" placeholder="Ingrese el nombre de la cuenta">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="buscarCuentas()">Buscar</button>
            </div>
        </div>
        <ul class="list-group" id="listaCuentas"></ul>
    </div>

    <div class="mt-4">
        <button class="btn btn-success" id="btnGenerarCSV">Generar CSV</button>
    </div>

    <div class="mt-4">
        <button class="btn btn-secondary" onclick="window.location.href = '/';">Regresar</button>
    </div>

    <!-- Scripts de Bootstrap (jQuery y Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        // Función para obtener y mostrar la lista de moderadores
        async function cargarModeradores() {
            try {
                const response = await axios.get('obtener_mod');
                const moderadores = response.data;

                const moderadoresList = document.getElementById('moderadores-list');
                moderadoresList.innerHTML = '';

                moderadores.forEach(moderador => {
                    const listItem = document.createElement('li');
                    listItem.innerHTML = `
                        ${moderador.primer_nombre} ${moderador.primer_apellido} ${moderador.correo}
                        <button onclick="verModerador('${moderador.cuenta_id}')">Ver csv</button>
                        <button onclick="quitarModerador('${moderador.cuenta_id}')">Quitar</button>
                    `;
                    moderadoresList.appendChild(listItem);
                });
            } catch (error) {
                console.error('Error al cargar moderadores:', error);
            }
            buscarCuentas();
        }

        function verModerador(cuenta_id) {
            fetch(`descargar_csv/${cuenta_id}`) 
                .then(response => response.blob())
                .then(blob => {
                    // Crear un enlace temporal para descargar el archivo
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'reporte_mod_csv.csv'; // Puedes cambiar el nombre del archivo si es necesario
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => console.error('Error al generar o descargar el archivo CSV:', error));
        }


        function quitarModerador(cuenta_id) {
            const textoBusqueda = document.getElementById('txtBusqueda').value;
            textoBusqueda.value = '';
            fetch(`quitar_mod/${cuenta_id}`, {
                method: 'POST',  
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log('quitarMod: ', data.message);
                buscarCuentas();
                cargarModeradores();
            })
            .catch(error => console.error('Error al buscar cuentas:', error));
        }
        function buscarCuentas() {
            // Obtén el valor del campo de búsqueda
            const textoBusqueda = document.getElementById('txtBusqueda').value;

            // Realiza una solicitud Fetch para buscar cuentas que coincidan con el texto de búsqueda
            fetch(`buscar_cuentas?texto=${encodeURIComponent(textoBusqueda)}`)
                .then(response => response.json())
                .then(data => {
                    // Obtén la lista de cuentas y el elemento de la lista en el HTML
                    const listaCuentas = document.getElementById('listaCuentas');

                    // Borra cualquier contenido existente en la lista
                    listaCuentas.innerHTML = '';

                    // Itera sobre las cuentas encontradas y crea elementos de lista
                    data.cuentas.forEach(cuenta => {
                        const itemLista = document.createElement('li');
                        itemLista.textContent = `${cuenta.primer_nombre} ${cuenta.primer_apellido} ${cuenta.correo}`;

                        // Agrega un botón de asignar a cada elemento de lista
                        const btnAsignar = document.createElement('button');
                        btnAsignar.textContent = 'Asignar';
                        btnAsignar.onclick = function () {
                            asignarCuenta(cuenta.cuenta_id);
                        };

                        // Agrega el botón al elemento de lista
                        itemLista.appendChild(btnAsignar);

                        // Agrega el elemento de lista a la lista en el HTML
                        listaCuentas.appendChild(itemLista);
                    });
                })
                .catch(error => console.error('Error al buscar cuentas:', error));
            }
        function asignarCuenta(cuenta_id) {
            const textoBusqueda = document.getElementById('txtBusqueda').value;
            textoBusqueda.value = '';
            fetch(`asignar_cuenta/${cuenta_id}`, {
                method: 'POST',  // O el método HTTP que prefieras
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log('asignarCuenta: ', data.message);
                buscarCuentas();
                cargarModeradores();
            })
            .catch(error => {
                console.error('Error al asignar la cuenta:', error);
            });
        }
        document.getElementById('btnGenerarCSV').addEventListener('click', function () {
            // Realiza la solicitud GET al endpoint que genera el CSV
            fetch('generar_csv')
                .then(response => response.blob())
                .then(blob => {
                    // Crea un enlace (link) para descargar el archivo
                    const url = window.URL.createObjectURL(new Blob([blob]));

                    // Crea un elemento a y simula un clic para iniciar la descarga
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'reporte.csv';
                    a.click();
                })
                .catch(error => console.error('Error al generar el CSV:', error));
        });

        async function cargarNoticias() {
            try {
                const response = await fetch('noticias');
                const data = await response.json();

                if (data.noticias && Array.isArray(data.noticias)) {
                    const noticiasContainer = document.getElementById('noticia-container');
                    
                    noticiasContainer.innerHTML = '';

                    // Crea un div para cada noticia y agrega al contenedor
                    //console.log("div;: ",data)
                    data.noticias.forEach(noticia => {
                        //console.log('Noticia en forEach:', noticia);
                        const noticiaDiv = crearNoticiaDiv(noticia);
                        noticiasContainer.appendChild(noticiaDiv);
                    });
                } else {
                    console.log('La respuesta del servidor no contiene datos de noticias.');
                }
            } catch (error) {
                console.error('Error al cargar las noticias:', error);
            }
        }



        // Función para crear un div de noticia
        function crearNoticiaDiv(noticia) {
            const noticiaDiv = document.createElement('div');
            noticiaDiv.className = 'noticia';
            let url = 'https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png'
            let text1 = ''
            let text2 = ''
            try {
                if (noticia && noticia.url !== undefined) {
                    url = noticia.url;
                }
                if (noticia && noticia.text1 !== undefined) {
                    text1 = noticia.text1;
                }
                if (noticia && noticia.text2 !== undefined) {
                    text2 = noticia.text2;
                }
            }catch(ex){
                console.log("Cargar noticia Div: ",ex)
            }

            // Agrega campos de texto
            noticiaDiv.innerHTML = `
                <img src="${url}" alt="Imagen" width="100" height="100">
                <input type="text" class="text1" value="${text1}" placeholder="Texto 1">
                <input type="text" class="text2" value="${text2}" placeholder="Texto 2">
                <input type="text" class="url" value="${url}" placeholder="URL">
                <button onclick="guardarNoticia(${noticia ? JSON.stringify(noticia).replace(/"/g, '&quot;') : 'null'}, this.parentElement)">Guardar</button>
                <button onclick="borrarNoticia(${noticia && noticia.id ? noticia.id : 'null'})">Borrar</button>
            `;

            return noticiaDiv;
        }


        // Función para agregar una nueva noticia al contenedor del boton estatico
        async function agregarNoticia() {
            try {
                const text1 = document.getElementById('est1').value;
                const text2 = document.getElementById('est2').value;
                const urlElement = document.getElementById('est3');
                //console.log(text1,text2,urlElement)
                if ((text1 != null || text2 != null || urlElement != null) && 
                        (text1 != undefined || text2 != undefined || urlElement != undefined)){
                    const url = urlElement ? urlElement.innerText.trim() : null;
                    // Envía una solicitud al servidor para agregar la nueva noticia
                    const response = await fetch('agregar_noticia', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            text1: text1,
                            text2: text2,
                            url: url,
                        }),
                    });

                    if (!response.ok) {
                        throw new Error(`Error en la solicitud: ${response.status}`);
                    }

                    const data = await response.json();
                    document.getElementById('est1').value="";
                    document.getElementById('est2').value="";
                    document.getElementById('est3').value="";
                    //console.log(data);
                    location.reload();
                }else{
                    console.log("Todos los campos son nulos o undefined")
                }
                
            } catch (error) {
                console.error('Error al agregar la noticia:', error);
            }
        }


        // Función para guardar una noticia update a una de la lista
        async function guardarNoticia(noticia, container) {
            //console.log('Noticia a guardar:', noticia);
            try {
                const noticiaDiv = container;
                if (!noticiaDiv) {
                    //console.error('Error: noticiaDiv no está definido.');
                    return;
                }
                // Obtener los nuevos valores de la noticia desde los campos de entrada
                const text1 = noticiaDiv.querySelector('.text1').value;
                const text2 = noticiaDiv.querySelector('.text2').value;
                const url = noticiaDiv.querySelector('.url').value;
                console.log("guardar noticia: ",text1,text2,url)
                // Realizar la solicitud al servidor para actualizar la noticia
                const response = await fetch(`actualizar_noticia/${noticia.id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ text1, text2, url }),
                });

                if (!response.ok) {
                    throw new Error(`Error en la solicitud: ${response.status}`);
                }

                const data = await response.json();
                console.log(data.message);
                console.log(data.error);

                // Volver a cargar las noticias después de actualizar una noticia
                cargarNoticias();
            } catch (error) {
                console.error('Error al guardar la noticia:', error);
            }
        }


        // Función para borrar una noticia
        async function borrarNoticia(id) {
            try {
                // Realiza una solicitud al servidor para borrar la noticia con el ID especificado
                const response = await fetch(`borrar_noticia/${id}`, {
                    method: 'DELETE', // Utiliza el método HTTP DELETE para borrar la noticia
                });

                if (!response.ok) {
                    throw new Error(`Error en la solicitud: ${response.status}`);
                }

                const data = await response.json();
                //console.log(data);

                // Vuelve a cargar las noticias después de borrar una noticia
                cargarNoticias();
                location.reload();
            } catch (error) {
                console.error('Error al borrar la noticia:', error);
            }
        }

        window.onload = function() {
            cargarModeradores();
            cargarNoticias(); 
            crearNoticiaDiv();
            guardarNoticia();
        };
    </script>
</body>
</html>
