<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del moderador</title>
    <!-- Agrega enlaces a tus estilos y scripts si los necesitas -->
    <!-- Por ejemplo, puedes usar Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <h1>Moderador</h1>
    <h1>Bienvenido</h1><h1 id="nombre">Prueba</h1>
    <div class="container mt-4">
        <h2>Lista de Chats</h2>
        <ul class="list-group">
        </ul>
    </div>

    <div class="container mt-4">
        <h2>Lista de perfiles</h2>
        <div id="contenedor-perfiles" class="lista-perfiles list-group">
            <!-- Aquí se agregarán dinámicamente los divs de perfiles -->
        </div>
    </div>

    <div class="container mt-4">
        <h2>Manejo de Enlaces</h2>
        <form id="enlaceForm">
            <div class="mb-3">
                <label for="enlaceInput" class="form-label">Enlace</label>
                <input type="text" class="form-control" id="enlaceInput" placeholder="Ingrese el enlace" required>
            </div>
            <div id="mensajeError" class="alert alert-danger" style="display: none;"></div>
            <button type="button" class="btn btn-primary" onclick="guardarEnlace()">Guardar</button>
            <button type="button" class="btn btn-danger" onclick="borrarEnlace()">Borrar</button>
        </form>
    </div>


    <button onclick="window.location.href = '/';">Regresar</button>
    <script>
        let cuenta_id;

        function redirectToChat(modId, remitente, destinatario) {
            const url = `/chat?mod_id=${modId}&remitente=${remitente}&destinatario=${destinatario}`;
            window.location.href = url;
        }
        
        function Iniciar() {
            cuenta_id = localStorage.getItem('cuenta_id');
            const letrero = document.getElementById('nombre');

            if (!cuenta_id) {
                // Si la ID no está presente, redirigir al usuario a la página anterior
                window.location.href = '/login';
            }

            // Configura los datos que deseas enviar al servidor
            const datos = {
                cuenta_id: cuenta_id
            };

            // Configura opciones de la petición
            const opciones = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(datos),
            };

            // Hacer la petición al servidor
            fetch('obtener_chat', opciones)
                .then(response => response.json())
                .then(data => {
                    //console.log('Respuesta JSON recibida:', data);

                    letrero.textContent = data.Nombre;

                    const listaChats = data.lista;

                    if(data.link !== null){
                        document.getElementById('enlaceInput').value = data.link;
                    }else{
                        document.getElementById('enlaceInput').value = '';
                    }
                    
                    // Obtén el elemento UL del list-group
                    const listGroup = document.querySelector('.list-group');

                    // Elimina todos los elementos hijos existentes en el list-group
                    listGroup.innerHTML = '';

                    // Verifica si la lista de chats existe y no está vacía
                    if (listaChats && listaChats.length > 0) {
                        // Itera sobre la lista de chats y crea elementos LI
                        listaChats.forEach(chat => {
                            const listItem = document.createElement('li');
                            listItem.className = 'list-group-item';

                            // Crea el contenido del elemento LI con los datos del chat
                            listItem.innerHTML = `
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Chat entre ${chat.remitente} y ${chat.destinatario}</span>
                                    <button class="btn btn-primary" button onclick="redirectToChat(${chat.mod_id}, '${chat.remitente}', '${chat.destinatario}')">Ver Chat</button>
                                </div>
                            `;

                            // Agrega el elemento LI al list-group
                            listGroup.appendChild(listItem);
                        });
                    } else {
                        // Deja el list-group vacío si no hay chats
                        console.log('La lista de chats está vacía o no está presente en la respuesta JSON.');
                    }
                })
                .catch(error => {
                    console.error('Error en la solicitud:', error);
                });
                
        }
        function guardarEnlace() {
            document.getElementById('mensajeError').style.display = 'none';
            // Obtén el valor del enlace desde el campo de entrada
            var enlace = document.getElementById('enlaceInput').value;

            // Realiza una solicitud al servidor Flask para guardar el enlace
            fetch('guardar_enlace', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ enlace: enlace, cuenta_id : cuenta_id }),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('mensajeError').innerText = data.mensaje;
                document.getElementById('mensajeError').style.display = 'inline';
            })
            .catch(error => {
                document.getElementById('mensajeError').innerText = error.mensaje;
                document.getElementById('mensajeError').style.display = 'inline';
            });
        }

        function borrarEnlace() {
            document.getElementById('mensajeError').style.display = 'none';

            fetch('borrar_enlace', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ cuenta_id : cuenta_id }),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                document.getElementById('enlaceInput').value = "";
                document.getElementById('mensajeError').innerText = data.mensaje;
                document.getElementById('mensajeError').style.display = 'inline';
            })
            .catch(error => {
                console.log(error)
                document.getElementById('mensajeError').innerText = error.mensaje;
                document.getElementById('mensajeError').style.display = 'inline';
            });
        }
        function IniciarPerfiles(){
            if(cuenta_id == null & cuenta_id == undefined ){
                return;
            }
            fetch('obtener_perfiles', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ cuenta_id: cuenta_id}),
                })
                .then(response => response.json())
                .then(data => {
                    //console.log('Respuesta JSON recibida:', data);

                    // Obtén el elemento UL para la lista de perfiles
                    const listaPerfiles = document.querySelector('.lista-perfiles');

                    // Elimina todos los elementos hijos existentes en la lista de perfiles
                    listaPerfiles.innerHTML = '';
                    console.log(data.length)
                    // Verifica si la lista de perfiles existe y no está vacía
                    if (data && data.perfiles && data.perfiles.length > 0) {
                        // Itera sobre la lista de perfiles y crea elementos LI
                        data.perfiles.forEach(perfil => {
                            const listItem = document.createElement('li');
                            listItem.className = 'perfil-item';

                            // Crea el contenido del elemento LI con los datos del perfil
                            listItem.innerHTML = `
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>${perfil.nombre} ${perfil.apellido} ${perfil.usuario}</span>
                                    <button class="btn btn-primary" onclick="verPerfil(${perfil.id},${true})">Ver</button>
                                </div>
                            `;

                            // Agrega el elemento LI a la lista de perfiles
                            listaPerfiles.appendChild(listItem);
                        });
                    } else {
                        // Deja la lista de perfiles vacía si no hay perfiles
                        console.log('La lista de perfiles está vacía o no está presente en la respuesta JSON.');
                    }
                })
                .catch(error => {
                    console.error('Error en la solicitud:', error);
                });
        }
        function verPerfil(perfilId, blnT) {
            if(blnT == true){
                // Puedes redirigir a la página de perfil pasando el ID del perfil como parámetro
                window.location.href = `perfil?id=${perfilId}`;
            }
        }
        window.onload = function() {
            Iniciar();
            IniciarPerfiles();
            verPerfil(0,false);
        };
    </script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>