<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Moderador</h1>
    <p>Lista de CHATS</p>
    <input type="button" value="Chat1"> 
    <input type="button" value="Ver">
    <input type="button" value="Reportar">
    <br>
    <input type="button" value="Chat2"> 
    <input type="button" value="Ver">
    <input type="button" value="Reportar">
    <br>
    <button onclick="window.location.href = '/';">Regresar</button>
</body>
</html>