<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista previa usuario</title>
</head>
<body>
    <h1>Vista Previa</h1>
    <h2 id="hname">Estas viendo a: Usuario</h2>
    <h2>Documentos</h2>
    <div id="documentos-container">
        <div class="documento">
            <input type="checkbox" id="chkacta" class="docchk" readonly>
            <label for="acta">Acta de Nacimiento</label>
            <button onclick="verDocumento('acta')">Ver Documento</button><input type="file" class="archivo-input" data-tipo-documento="acta" style="display: none;" onchange="manejarCambioArchivo(event)">
        </div>

        <div class="documento">
            <input type="checkbox" id="chkdomicilio" class="docchk" readonly>
            <label for="domicilio">Comprobante de Domicilio</label>
            <button onclick="verDocumento('domicilio')">Ver Documento</button>
        </div>

        <div class="documento">
            <input type="checkbox" id="chkine" class="docchk" readonly>
            <label for="ine">Documento INE</label>
            <button onclick="verDocumento('ine')">Ver Documento</button>
            </div>

        <div class="documento">
            <input type="checkbox" id="chkpasaporte" class="docchk" readonly>
            <label for="pasaporte">Documento Pasaporte</label>
            <button onclick="verDocumento('pasaporte')">Ver Documento</button>
        </div>
    </div>
    <button onclick="window.location.href = '/mod/';">Regresar a mod</button>

    <script>
        let perfilId;
        let cuenta_id;
        function Iniciar() {
            perfilId = "{{ perfil_id }}"
            
            function obtenerDatos() {
                const opcionesPrueba = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                };
                // Hacer la petición al servidor
                fetch('prueba', opcionesPrueba)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`Error en la solicitud: ${response.status} ${response.statusText}`);
                        }
                        // Retornar la promesa de response.json()
                        return response.json();
                    })
                    .then(data => {
                        // Manejar los datos recibidos (aquí puedes imprimirlos en la consola o realizar acciones específicas)
                        console.log('Datos de prueba:', data);
                    })
                    .catch(error => {
                        console.error('Error al realizar la solicitud de prueba:', error);
                    });
                // Obtener el id de la cuenta del localStorage
                cuenta_id = localStorage.getItem('cuenta_id');

                // Verificar si hay un id de cuenta antes de hacer la petición
                if (cuenta_id) {
                    // Configurar los datos para enviar en la petición
                    const datos = {
                        mod_id: cuenta_id,
                        perfil_id: perfilId
                    };

                    // Configurar opciones de la petición
                    const opciones = {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(datos),
                    };

                    // Hacer la petición al servidor
                    fetch('obtener_datos', opciones)
                    .then(response => {
                            if (!response.ok) {
                                throw new Error(`Error en la solicitud: ${response.status} ${response.statusText}`);
                            }
                            // Retornar la promesa de response.json()
                            return response.json();
                        })
                    .then(data => {
                        if (data && data.usuario) {
                            document.getElementById('hname').innerHTML = `Estas viendo a: ${data.usuario ? data.usuario : ''} - ${data.primer_nombre ? data.primer_nombre : ''} ${data.otrosNombres ? data.otrosNombres : ''} ${data.primer_apellido ? data.primer_apellido : ''} ${data.segundo_apellido ? data.segundo_apellido : ''}`;
 
                            if (data.acta && data.acta.length > 0) {
                                const acta = data.acta[0];  // Tomar el primer documento de tipo "acta"
                                actainfo = acta.link;
                                document.getElementById('chkacta').checked = acta.isaprobado;
                            }
                            if (data.comprobante && data.comprobante.length > 0) {
                                const comprobante = data.comprobante[0];
                                comprobanteinfo = comprobante.link;
                                document.getElementById('chkdomicilio').checked = comprobante.isaprobado;
                            }
                            if (data.ine && data.ine.length > 0) {
                                const ine = data.ine[0];
                                ineinfo = ine.link;
                                document.getElementById('chkine').checked = ine.isaprobado;
                            }
                            if (data.pasaporte && data.pasaporte.length > 0) {
                                const pasaporte = data.pasaporte[0];
                                pasaporteinfo = pasaporte.link;
                                document.getElementById('chkpasaporte').checked = pasaporte.isaprobado;
                            }
                        } else {
                            console.error('Error: El objeto data no tiene la propiedad "usuario" definida.');
                        }
                           
                    })
                    .catch(error => {
                        console.error('Error al obtener los datos:', error);
                    });
                    
                }else{

                }
            }
            // Llamar a la función para obtener y llenar los datos
            obtenerDatos();
            
        };
        window.onload = Iniciar;
        function verDocumento(tipoDocumento) {
            let documentoLink;
            let documentoAprobado;
            // Seleccionar la información correcta según el tipo de documento
            switch (tipoDocumento) {
                case 'acta':
                    documentoLink = 'acta';
                    documentoAprobado = document.getElementById('chkacta').checked;
                    break;
                case 'domicilio':
                    documentoLink = 'domicilio';
                    documentoAprobado = document.getElementById('chkdomicilio').checked;
                    break;
                case 'ine':
                    documentoLink = 'ine';
                    documentoAprobado = document.getElementById('chkine').checked;
                    break;
                case 'pasaporte':
                    documentoLink = 'pasaporte';
                    documentoAprobado = document.getElementById('chkpasaporte').checked;
                    break;
                default:
                    documentoLink='error'
                    console.error('Tipo de documento no reconocido');
                    return;
            }
            const opciones = {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({perfil_id : perfilId}),
                    };
            // Cambia la solicitud GET a POST y envía el token como parámetro en la URL
            fetch(`descargar_pdf/${documentoLink}`,opciones)
                .then(response => {
                    if (!response.ok) {
                    throw new Error(`Error al descargar PDF: ${response.status} - ${response.statusText}`);
                    }
                    return response.blob();
                })
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = `${documentoLink}_documento.pdf`;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => {
                    console.error(error);
                    // Manejar el error como desees
                });

        }
    </script>
</body>
</html>