<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/estilo1.css') }}">
</head>
<body>
    <div >
        <a href="/">Home</a>
        <div class="profile-section">
            <h1>Perfil</h1>
            <img src="" alt="" id="imgPrin">
        </div>
        <div class="chats-section">
            <h2>Chats</h2>
            <div>
                <h2>Lista de chats</h2>
                <div id="listaChat"></div>
                <a href="#">Encuentra tu pareja</a>
            </div>
        </div>
        <div class="documents-section">
            <h2>Documentos</h2>
        <div id="documentos-container">
            <div class="documento">
                    <input type="checkbox" id="chkacta" class="docchk" readonly>
                    <label for="acta">Acta de Nacimiento</label>
                    <input type="text" id="urlActa" placeholder="Ingrese la URL del documento">
                    <button onclick="subirDocumento('acta')">Subir Documento</button>
                    <button onclick="verDocumento('acta')">Ver Documento</button><input type="file" class="archivo-input" data-tipo-documento="acta" style="display: none;" onchange="manejarCambioArchivo(event)">
                </div>

                <div class="documento">
                    <input type="checkbox" id="chkdomicilio" class="docchk" readonly>
                    <label for="domicilio">Comprobante de Domicilio</label>
                    <input type="text" id="urlDomicio" placeholder="Ingrese la URL del documento">
                    <button onclick="subirDocumento('domicilio')" id="subirDomBtn">Subir Documento</button>
                    <button onclick="verDocumento('domicilio')">Ver Documento</button>
                    <!--<input type="file" class="archivo-input" data-tipo-documento="domicilio" style="display: none;" onchange="manejarCambioArchivo(event)"-->
                </div>

                <div class="documento">
                    <input type="checkbox" id="chkine" class="docchk" readonly>
                    <label for="ine">Documento INE</label>
                    <input type="text" id="urlIne" placeholder="Ingrese la URL del documento">
                    <button onclick="subirDocumento('ine')" id="subirIneBtn">Subir Documento</button>
                    <button onclick="verDocumento('ine')">Ver Documento</button>
                    </div>

                <div class="documento">
                    <input type="checkbox" id="chkpasaporte" class="docchk" readonly>
                    <label for="pasaporte">Documento Pasaporte</label>
                    <input type="text" id="urlPass" placeholder="Ingrese la URL del documento">
                    <button onclick="subirDocumento('pasaporte')" id="subirPassBtn">Subir Documento</button>
                    <button onclick="verDocumento('pasaporte')">Ver Documento</button>
                </div>
            </div>
        </div>
        
        <br>
        <div class="images-section">
            <h2>Imagenes</h2>
        <div>
            <div id="imagenesPerfil"></div>

                <form action="subir_foto" method="post">
                    <label for="nueva_foto">Nueva Foto:</label>
                    <input type="text" name="nueva_foto" id="nueva_foto" required>
                    <input type="hidden" id="tokenImg" name="token" value="tu_token_aqui">
                    <button type="submit">Subir Foto</button>
                </form>
                <br>
                <div>
                    <button onclick="cambiarImagen()">Actualizar</button>
                    <button onclick="borrarImagen()">Borrar</button>
                    <span id="mensajeError" style="color: red; display: none;"></span>
                </div>
            </div>
        </div>
        
        <br>

        <div class="account-info-section">
            <div>
                <h2>Informacion Cuenta</h2>
                <p>Primer Nombre</p>
                <input type="text" id="pnombre" readonly> 
                <p>Otros Nombres</p>
                <input type="text" id="onombre" readonly> <input id="btnonombre" type="button" value="Editar">
                <p>Primer Apellido</p>
                <input type="text" id="papellido" readonly> 
                <p>Segundo Apellido</p>
                <input type="text" id="sapellido" readonly> <input id="btnsapellido" type="button" value="Editar">
                <p>Fecha de Nacimiento</p>
                <input type="date" id="fecha" readonly> <input id="btnfecha" type="button" value="Editar">
                <p>Telefono</p>
                <input type="text" id="telefono" readonly> <input id="btntelefono" type="button" value="Editar">
                <p>Correo Electronico</p>
                <input type="text" id="correo" readonly> <input id="btncorreo" type="button" value="Editar">
                <p>Password</p>
                <input type="password" id="contra1" readonly> <input id="btncontra" type="button" value="Editar">
                <p>Confirma Password</p>
                <input type="password" id="contra2" readonly>
                <br>
                <br>
                <input type="button" id="btnGuardar1" value="Guardar"> 
                <input type="button" id="btnDescartar1" value="Descartar">
            </div>
        </div>
        <div class="profile-info-section">
            <div>
                <h2>Informacion perfil</h2>
                <p>Nombre de Usuario:</p>
                <input type="text" id="usuario" readonly> 
                <p>Pais de origen:</p>
                <input type="text" id="pais" readonly> 
                <p>Genero:</p>
                <input type="text" id="genero" readonly> 
                <p>Genero: </p>
                <p>Busco a... </p>
                <input type="checkbox" id="masculino" name="busqueda" value="masculino" readonly>
                <label for="masculino">Masculino</label>
    
                <input type="checkbox" id="femenino" name="busqueda" value="femenino" readonly>
                <label for="femenino">Femenino</label>
    
                <input type="checkbox" id="otro" name="busqueda" value="otro" readonly>
                <label for="otro">Otro</label>
                
                <input type="button" value="Editar" id="btnBusqueda">
                <br>
                <br>
                <input type="button" value="Guardar" id="btnGuardar2"> 
                <input type="button" value="Descartar" id="btnDescartar2">
            </div>
        </div>
        
        <br>
        <div class="profile-actions">
            <input type="button" class="btn btn-danger" value="Suspender Perfil" id="btnSuspender"> 
            <input type="button" class="btn btn-danger" value="Eliminar Perfil" id="btnEliminar">
            <button class="btn btn-primary" onclick="window.location.href = '/';">Regresar</button>
        </div>
    </div>
    

    <script>
        let actainfo;
        let comprobanteinfo;
        let ineinfo;
        let pasaporteinfo;
        const imagenPrincipal= document.getElementById('imgPrin');
        let primeraImagen = "https://previews.123rf.com/images/pavelstasevich/pavelstasevich1811/pavelstasevich181101032/112815935-no-hay-icono-de-imagen-disponible-ilustración-vectorial-plana.jpg"
        let cuenta_id = ''
        let infoImagen;
        function Iniciar() {
            //Habilitar campos
            {
            var mipnombre = document.getElementById('pnombre');
            var mionombre = document.getElementById('onombre');
            var mipapellido = document.getElementById('papellido');
            var misapellido = document.getElementById('sapellido');
            var mifecha = document.getElementById('fecha');
            var mitelefono = document.getElementById('telefono');
            var micorreo = document.getElementById('correo');
            var micontra1 = document.getElementById('contra1');
            var micontra2 = document.getElementById('contra2');
            var miusuario = document.getElementById('usuario');
            var mipais = document.getElementById('pais');
            var migenero = document.getElementById('genero');
            var mimasculino = document.getElementById('masculino');
            var mifemenino = document.getElementById('femenino');
            var miotro = document.getElementById('otro');

            
            var btnonombre = document.getElementById('btnonombre');
            
            var btnsapellido = document.getElementById('btnsapellido');
            var btnfecha = document.getElementById('btnfecha');
            var btntelefono = document.getElementById('btntelefono');
            var btncorreo = document.getElementById('btncorreo');
            var btncontra = document.getElementById('btncontra');

            var btnBusqueda = document.getElementById('btnBusqueda');
            var btnGuardar1 = document.getElementById('btnGuardar1');
            var btnGuardar2 = document.getElementById('btnGuardar2');
            var btnDescartar1 = document.getElementById('btnDescartar1');
            var btnDescartar2 = document.getElementById('btnDescartar2');
            var btnSuspender = document.getElementById('btnSuspender');
            var btnEliminar = document.getElementById('btnEliminar');

            
            btnonombre.addEventListener('click', function() {
                mionombre.readOnly = false;
            });

            btnsapellido.addEventListener('click', function() {
                misapellido.readOnly = false;
            });

            btnfecha.addEventListener('click', function() {
                mifecha.readOnly = false;
            });

            btntelefono.addEventListener('click', function() {
                mitelefono.readOnly = false;
            });

            btncorreo.addEventListener('click', function() {
                micorreo.readOnly = false;
            });

            btncontra.addEventListener('click', function() {
                micontra1.readOnly = false;
                micontra2.readOnly = false;
            });
            btnBusqueda.addEventListener('click', function() {
                mimasculino.readOnly = false;
                mifemenino.readOnly = false;
                miotro.readOnly = false;
            });
            }
            
            function obtenerDatos() {
                // Obtener el id de la cuenta del localStorage
                cuenta_id = localStorage.getItem('cuenta_id');
                document.getElementById('tokenImg').value = cuenta_id;
                // Verificar si hay un id de cuenta antes de hacer la petición
                if (cuenta_id) {
                    // Configurar los datos para enviar en la petición
                    const datos = {
                        cuenta_id: cuenta_id,
                    };

                    // Configurar opciones de la petición
                    const opciones = {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(datos),
                    };

                    // Hacer la petición al servidor
                    fetch('obtener_datos', opciones)
                        .then(response => response.json())
                        .then(data => {
                            // Llenar los campos con los datos obtenidos
                            mipnombre.value = data.primer_nombre;
                            mionombre.value = data.otros_nombres;
                            mipapellido.value = data.primer_apellido;
                            misapellido.value = data.segundo_apellido;
                            mifecha.value = data.fecha_nacimiento;
                            mitelefono.value = data.telefono;
                            micorreo.value = data.correo_electronico;
                            miusuario.value = data.usuario;
                            mipais.value = data.pais;
                            migenero.value = data.genero;
                            let busco = data.busqueda;
                                document.getElementById('masculino').checked = false;
                                document.getElementById('femenino').checked = false;
                                document.getElementById('otro').checked = false;

                                // Marcar los checkboxes según los valores en data.busqueda
                                if (busco.includes('masculino')) {
                                    document.getElementById('masculino').checked = true;
                                }
                                if (busco.includes('femenino')) {
                                    document.getElementById('femenino').checked = true;
                                }
                                if (busco.includes('otro')) {
                                    document.getElementById('otro').checked = true;
                                }
                                //aqui va la info de doc
                                if (data.acta && data.acta.length > 0) {
                                    const acta = data.acta[0];  // Tomar el primer documento de tipo "acta"
                                    actainfo = acta.link;
                                    document.getElementById('chkacta').checked = acta.isaprobado;
                                }
                                if (data.comprobante && data.comprobante.length > 0) {
                                    const comprobante = data.comprobante[0];
                                    comprobanteinfo = comprobante.link;
                                    document.getElementById('chkdomicilio').checked = comprobante.isaprobado;
                                }
                                if (data.ine && data.ine.length > 0) {
                                    const ine = data.ine[0];
                                    ineinfo = ine.link;
                                    document.getElementById('chkine').checked = ine.isaprobado;
                                }
                                if (data.pasaporte && data.pasaporte.length > 0) {
                                    const pasaporte = data.pasaporte[0];
                                    pasaporteinfo = pasaporte.link;
                                    document.getElementById('chkpasaporte').checked = pasaporte.isaprobado;
                                }
                        })
                        .catch(error => {
                            console.error('Error al obtener los datos:', error);
                        });

                    // Hacer una solicitud Fetch para obtener el perfil con el cuenta_id
                    fetch(`perfil/${cuenta_id}`)
                        .then(response => response.json())
                        .then(data => {
                            const imagenesDiv = document.getElementById('imagenesPerfil');
                            if (data && data.fotos_perfil) {
                                primeraImagen = data.fotos_perfil[0];

                                // Iterar sobre las fotos del perfil y agregarlas al div
                                data.fotos_perfil.forEach(foto => {
                                    const imagen = document.createElement('img');
                                    imagen.src = foto.link;
                                    imagen.alt = 'Foto de perfil';

                                    imagen.style.maxWidth = '25%';
                                    imagen.style.height = 'auto';

                                    imagen.onclick = function() {
                                        infoImagen = foto;
                                    };

                                    imagenesDiv.appendChild(imagen);
                                });

                                // Asignar el src de la primera imagen al elemento existente
                                imagenPrincipal.src = primeraImagen.link;
                                imagenPrincipal.alt = 'Foto de perfil principal';
                                imagenPrincipal.style.maxWidth = '20%';
                                imagenPrincipal.style.height = 'auto';
                            }
                        })
                        .catch(error => console.error('Error al obtener el perfil:', error));
                    
                }else{

                }
                
            }
            // Llamar a la función para obtener y llenar los datos
            obtenerDatos();
        };
        window.onload = Iniciar;

        function subirDocumento(tipo) {
            let text;
            let inputId;
            
            // Seleccionar el ID del campo de entrada y obtener su valor
            switch (tipo) {
                case 'acta':
                    inputId = 'urlActa';
                    break;
                case 'domicilio':
                    inputId = 'urlDomicio';
                    break;
                case 'ine':
                    inputId = 'urlIne';
                    break;
                case 'pasaporte':
                    inputId = 'urlPass';
                    break;
                default:
                    throw new Error(`El tipo del documento no es uno convencional - subirDocumento()`);
            }

            text = document.getElementById(inputId).value;
            if(text == null || text == ''){
                throw new Error(`El entry esta vacio`);
            }
            const opciones = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    cuenta_id: cuenta_id,
                    link: text,
                    tipo: tipo,
                }),
            };

            // Realizar la solicitud Fetch
            fetch('save_pdf', opciones)
                .then(response => response.json())
                .then(data => {
                    console.log(data); // Puedes manejar la respuesta del servidor aquí
                })
                .catch(error => {
                    console.error(error);
                    // Manejar el error como desees
                });
        }


        function verDocumento(tipoDocumento) {
            let documentoLink;
            let documentoAprobado;
            // Seleccionar la información correcta según el tipo de documento
            switch (tipoDocumento) {
                case 'acta':
                    documentoLink = 'acta';
                    documentoAprobado = document.getElementById('chkacta').checked;
                    break;
                case 'domicilio':
                    documentoLink = 'domicilio';
                    documentoAprobado = document.getElementById('chkdomicilio').checked;
                    break;
                case 'ine':
                    documentoLink = 'ine';
                    documentoAprobado = document.getElementById('chkine').checked;
                    break;
                case 'pasaporte':
                    documentoLink = 'pasaporte';
                    documentoAprobado = document.getElementById('chkpasaporte').checked;
                    break;
                default:
                    documentoLink='error'
                    console.error('Tipo de documento no reconocido');
                    return;
            }
            const opciones = {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({cuenta_id : cuenta_id}),
                    };
            // Cambia la solicitud GET a POST y envía el token como parámetro en la URL
            fetch(`descargar_pdf/${documentoLink}`,opciones)
                .then(response => {
                    if (!response.ok) {
                    throw new Error(`Error al descargar PDF: ${response.status} - ${response.statusText}`);
                    }
                    return response.blob();
                })
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = `${documentoLink}_documento.pdf`;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => {
                    console.error(error);
                    // Manejar el error como desees
                });

        }
        
        function cambiarImagen(){
            document.getElementById('mensajeError').style.display = 'none';
            document.getElementById('mensajeError').innerText = '';
            if(infoImagen == undefined || infoImagen == null || infoImagen == ''){
                document.getElementById('mensajeError').innerText = 'No has pulsado una imagen';
                document.getElementById('mensajeError').style.display = 'block';
            }else{
                let noc = document.getElementById('nueva_foto')

                if(noc != undefined && noc != null && noc.value != ''){
                    console.log('aqui empieza')
                    fetch('modificar_img', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            cuenta_id: cuenta_id,
                            nueva_imagen: noc.value
                        })
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`Error en la solicitud: ${response.status} ${response.statusText}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Manejar la respuesta del servidor
                        console.log('Respuesta del servidor:', data);
                    })
                    .catch(error => {
                        console.error('Error al realizar la solicitud:', error);
                    });
                }else{
                    document.getElementById('mensajeError').innerText = 'No has colocado un texto en el entry';
                    document.getElementById('mensajeError').style.display = 'block';
                }
            }
        }
        function borrarImagen(){
            document.getElementById('mensajeError').style.display = 'none';
            if(infoImagen == undefined || infoImagen == null || infoImagen == ''){
                document.getElementById('mensajeError').innerText = 'No has pulsado una imagen';
                document.getElementById('mensajeError').style.display = 'block';
            }else{
                
            }
        }
    </script>
</body>
</html>