<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Home</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Perfil</h1>
    <div>
        <h2>Informacion Cuenta</h2>
        <p>Primer Nombre</p>
        <input type="text"> <input type="button" value="Editar">
        <p>Otros Nombres</p>
        <input type="text"> <input type="button" value="Editar">
        <p>Primer Apellido</p>
        <input type="text"> <input type="button" value="Editar">
        <p>Segundo Apellido</p>
        <input type="text"> <input type="button" value="Editar">
        <p>Fecha de Nacimiento</p>
        <input type="text"> <input type="button" value="Editar">
        <p>Correo electronico</p>
        <input type="text"> <input type="button" value="Editar">
        <p>Telefono</p>
        <input type="text"> <input type="button" value="Editar">
        <p>Correo Electronico</p>
        <input type="text"> <input type="button" value="Editar">
        <p>Password</p>
        <input type="text"> <input type="button" value="Editar">
        <p>Confirma Password</p>
        <input type="text">
        <br>
        <input type="button" value="Guardar"> <input type="button" value="Descartar">
    </div>
    <div>
        <h2>Informacion perfil</h2>
        <p>Nombre de Usuario:</p>
        <input type="text"> <input type="button" value="Editar">
        <p>Pais de origen: </p>
        <select id="pais" name="pais">
            <option value="us">Estados Unidos</option>
            <option value="es">España</option>
            <option value="mx">México</option>
            <option value="ar">Argentina</option>
        </select> <input type="button" value="Editar">
        <p>Genero: </p>
        <select id="genero" name="genero">
            <option value="HM">Masculino</option>
            <option value="MF">Femenino</option>
            <option value="XX">otro</option>
        </select> <input type="button" value="Editar">
        <p>Busco a... </p>
        <input type="checkbox" id="masculino" name="genero" value="masculino">
        <label for="masculino">Masculino</label>

        <input type="checkbox" id="femenino" name="genero" value="femenino">
        <label for="femenino">Femenino</label>

        <input type="checkbox" id="otro" name="genero" value="otro">
        <label for="otro">Otro</label>
        
        <input type="button" value="Editar">
        <br>
        <input type="button" value="Guardar"> <input type="button" value="Descartar">
    </div>
    <input type="button" value="Suspender Perfil"> <input type="button" value="Eliminar Perfil">
    <button onclick="window.location.href = '/';">Regresar</button>
</body>
</html>