<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completar usuario</title>
    <!-- Agrega la CDN de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Completa tu usuario</h1>
        <form id="sign-form">
            <div class="form-group">
                <label for="username">Nombre de Usuario:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="pais">Pais de origen:</label>
                <select class="form-control" id="pais" name="pais" required>
                    <!--Se cargaran de un json-->
                </select>
            </div>
            <div class="form-group">
                <label>Genero:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="masculino" name="genero" value="Masculino" required>
                    <label class="form-check-label" for="masculino">Masculino</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="femenino" name="genero" value="Femenino" required>
                    <label class="form-check-label" for="femenino">Femenino</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="otro" name="genero" value="otro" required>
                    <label class="form-check-label" for="otro">Otro</label>
                </div>
            </div>
            <div class="form-group">
                <label>Busco a...</label>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="buscaMasculino" name="busqueda" value="masculino">
                    <label class="form-check-label" for="buscaMasculino">Masculino</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="buscaFemenino" name="busqueda" value="femenino">
                    <label class="form-check-label" for="buscaFemenino">Femenino</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="buscaOtro" name="busqueda" value="otro">
                    <label class="form-check-label" for="buscaOtro">Otro</label>
                </div>
            </div>
            <div class="form-group">
                <label for="estadoCivil">Estado civil:</label>
                <select class="form-control" id="estadoCivil" name="estadoCivil" required>
                    <option value="soltero">Soltero</option>
                    <option value="casado">Casado</option>
                    <option value="divorciado">Divorciado</option>
                    <option value="viudo">Viudo</option>
                    <option value="libre">Relación Libre</option>
                </select>
            </div>
            <span id="errorLabel" class="text-danger"></span>
            <br>
            <button type="button" class="btn btn-primary" id="btn_create_profile">Crear Perfil</button>
        </form>
        <br>
        <a href="/" class="text-dark">No quiero crear un perfil</a>
        <br>
        <button class="btn btn-secondary" onclick="window.location.href = '/';">Regresar</button>
    </div>

    <!-- Agrega la CDN de Bootstrap (jQuery y Popper.js son necesarios para Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        const cuenta_id = localStorage.getItem('cuenta_id');
        const errorLabel = document.getElementById('errorLabel');

        if (!cuenta_id) {
            // Si la ID no está presente, redirigir al usuario a la página anterior
            window.location.href = '/register';
        }

        document.addEventListener("DOMContentLoaded", function() {
            // Obtén el elemento select
            const selectPais = document.getElementById("pais");

            // Ruta al archivo JSON
            const jsonPath = "{{ url_for('user.static', filename='json/paises-del-mundo.json') }}";

            // País predeterminado (México)
            const paisPredeterminado = "MX"; // Código ISO2 de México

            // Realiza una solicitud para cargar el JSON
            fetch(jsonPath)
            .then(response => response.json())
            .then(data => {
                // Itera sobre los datos y agrega opciones al select
                data.forEach(pais => {
                    const option = document.createElement("option");
                    option.value = pais.ISO2;
                    option.text = pais.shortName;
                    // Establece como seleccionado si es México
                    if (pais.ISO2 === paisPredeterminado) {
                        option.selected = true;
                    }
                        
                    selectPais.appendChild(option);
                });
            })
            .catch(error => console.error("Error al cargar el JSON:", error));
        });


        const signButton = document.querySelector('#btn_create_profile');
        signButton.addEventListener('click', (e) => {
            e.preventDefault();
            
            // Obtener valores del formulario
            const usernameInput = document.querySelector('#username');
            const username = usernameInput?.value ?? 'Empty';
            const paisInput = document.querySelector('#pais').value;
            const pais = paisInput ?? 'Empty';
            const generoValues = document.querySelectorAll('input[name="genero"]:checked');
            const primerGenero = generoValues[0]?.value;

            // Obtener valores de los checkboxes
            const busquedaValues = document.querySelectorAll('input[name="genero"]:checked');
            const busqueda = Array.from(generoValues).map(checkbox => checkbox.value).filter(value => (value !== 'HM' && value !== 'MF')).join(',');
            console.log(busqueda);
            const estadoCivil = document.querySelector('#estadoCivil').value;

            if(username.trim() === ""){
                errorLabel.textContent = 'Como te llamamos?, te parece notch?';
                errorLabel.style.display = 'inline';
                return;
            }else if(generoValues.length === 0){
                errorLabel.textContent = 'Eres de los que no tienen género, eh?.';
                errorLabel.style.display = 'inline';
                return;
            }else if(busqueda.length === 0){
                errorLabel.textContent = 'emmm, que estas buscando?';
                errorLabel.style.display = 'inline';
                return;
            }else if(pais === "Empty"){
                errorLabel.textContent = 'Vienes de otro mundo?';
                errorLabel.style.display = 'inline';
                return;
            }
            else if(estadoCivil == "casado"){
                errorLabel.textContent = 'Perdona, que hace un casado aqui?';
                errorLabel.style.display = 'inline';
                return;
            }
            else{
                errorLabel.style.display = 'none';

                fetch('registro', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'cuenta_id': cuenta_id,
                        'username': username,
                        'pais': pais,
                        'genero': primerGenero,
                        'busqueda': busqueda,
                        'estado_civil': estadoCivil
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        errorLabel.textContent = 'El post fue exitoso';
                        errorLabel.style.display = 'inline';
                        // Almacenar la ID de la cuenta en localStorage
                        localStorage.setItem('usuario', username);
                        if (data.redirect_url) {
                            // Redirigir a la URL proporcionada
                            window.location.href = data.redirect_url;
                        } else {
                            // Redirigir a la página predeterminada
                            console.log('data redirect no fue encontrado')
                            window.location.href = '/usuarios/';
                        }
                    } else {
                        errorLabel.textContent = 'Error en el registro: ' + data.message;
                        errorLabel.style.display = 'inline';
                    }
                })
                .catch(error => {
                    console.error('Error en la solicitud:', error);
                    // Manejar el error apropiadamente
                });
            }
            
        });
    </script>
</body>
</html>