<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completar usuario</title>
</head>
<body>
    <h1>Completa tu usuario</h1>
    <p>Nombre de Usuario:</p>
    <input type="text">
    <p>Pais de origen: </p>
    <select id="pais" name="pais">
        <option value="us">Estados Unidos</option>
        <option value="es">España</option>
        <option value="mx">México</option>
        <option value="ar">Argentina</option>
    </select>
    <p>Genero: </p>
    <select id="genero" name="genero">
        <option value="HM">Masculino</option>
        <option value="MF">Femenino</option>
        <option value="XX">otro</option>
    </select>
    <p>Busco a... </p>
    <input type="checkbox" id="masculino" name="genero" value="masculino">
    <label for="masculino">Masculino</label>

    <input type="checkbox" id="femenino" name="genero" value="femenino">
    <label for="femenino">Femenino</label>

    <input type="checkbox" id="otro" name="genero" value="otro">
    <label for="otro">Otro</label>
    <br>
    <p>??</p>
    <input type="checkbox" id="otrox" name="otro" value="???">
    <label for="otro">??</label>
    <br>
    <input type="button" value="Crear Perfil"  onclick="window.location.href = '/usuarios/';">
    <br>
    <button onclick="window.location.href = '/';">Regresar</button>
</body>
</html>